<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <h1 class="mt-4">게시물 상세 보기</h1>

    <form action="/board/modify" id="form" method="post">
      <!-- 화면에 보이지는 않지만 form의 데이터를 전송할 때 서버에게 전달은 된다. -->
      <input name="page" id="page" th:value="${requestDTO.page}" type="hidden"/>
      <input name="type"  id="type"th:value="${requestDTO.type}" type="hidden"/>
      <input name="keyword" id="keyword"th:value="${requestDTO.keyword}" type="hidden"/>

      <div class="form-group">
        <label>글 번호</label>
        <input class="form-control" name="bno" readonly
               th:value="${dto.bno}" type="text"/>
      </div>
      <div class="form-group">
        <label>제목</label>
        <input class="form-control" name="title"
               th:value="${dto.title}" type="text"/>
      </div>
      <div class="form-group">
        <label>내용</label>
        <textarea class="form-control" name="content" rows="5">[[${dto.content}]]</textarea>
      </div>
      <div class="form-group">
        <label>작성자</label>
        <input class="form-control" name="writer"
               th:value="${dto.writerName}" type="text"/>
      </div>
      <div class="form-group">
        <label>작성일</label>
        <input class="form-control" readonly
               th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd')}" type="text"/>
      </div>
      <div class="form-group">
        <label>수정일</label>
        <input class="form-control" readonly
               th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd')}" type="text"/>
      </div>
    </form>

    <a th:href="@{/board/list(page=${requestDTO.page},
    type=${requestDTO.type}, keyword=${requestDTO.keyword})}">
      <button class="btn btn-warning" type="button">목록</button>
    </a>

    <button class="btn btn-primary" id="modifyBtn" type="button">수정</button>
    <button type="button" class="btn btn-warning" id="removeBtn">삭제</button>
    <script th:inlin="javascript">
      // form 찾아오기
      let actionForm = document.getElementById("form");

      // 수정 버튼을 누를 때
      document.getElementById("modifyBtn").addEventListener("click", (e) => {
        // 메시지를 출력하고 아니오를 선택하면 리턴
        if (!confirm("수정하시겠습니까?")) {
          return;
        }
        // form의 데이터를 전송
        actionForm.action = "/board/modify";
        actionForm.method = "post";
        actionForm.submit();
      })

      document.getElementById("removeBtn").addEventListener(
              "click", (e) =>{
                if(!confirm("삭제하시겠습니까?")){
                  return;
                }
                actionForm.action="/board/remove";
                actionForm.method="post";
                actionForm.submit();
              }
      )
    </script>

  </th:block>
</th:block>