<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Communications</title>
</head>
<body>
<a href="#" id="push">웹 푸시 시작</a>
푸시 내용:<div id="disp"></div>
<script>
    window.addEventListener('load', (e) => {
        document.getElementById("push").addEventListener("click", (e)=>{
            let eventSource = new EventSource("push");
            eventSource.onmessage = function(event){
                document.getElementById("disp").innerHTML =
                    event.data;
            }
        })
    })
</script>

<div id="chat">
    <h1>Web Chatting</h1>
    <input type="text" id="mid" value="noname" />
    <input type="button" value="접속" id="btnLogin" />
    <br />
    <!-- 데이터 출력 영역 -->
    <div id="talk"></div>
    <!-- 전송할 메시지 영역 -->
    <div id="sendZone">
        <textarea id="msg" value=""></textarea>
        <input type="button" value="전송" id="btnSend" />
    </div>
</div>
</body>
<link rel="stylesheet" type="text/css" href="./css/chat.css" />
<script src="./js/chat.js"></script>
</html>